header{
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1564580281/photo-2_pceoz5.jpg'); */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1564647418/photo-5_hsbno4.jpg');
    background-repeat:no repeat;
    height: 590px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
h1{
 text-align: right;
 text-transform: uppercase;
 font-size: 50px;
 color:white;
 margin-right: 5%;
 text-align: center;
 margin-top: 22%;
 /* max-width:960px; */
 /* text-shadow: 0px 0px 4px; */
 
 display:block;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 letter-spacing: 1.8px;
 
}
#button{
    border-radius: 10px;
    background-color:white;
    height: 40px;
    width:150px;
    color:white;
    text-transform: capitalize;
    font-size:18px;
    margin-left:20%;
    text-align: center;
    bottom: 3px;
    top:80%;
    left:50%;
    color:black;
    display: inline-block;
    transform:translate(200%,300%);
    cursor: pointer;
}
#button:hover{
    background-color:  orange;
    pointer-events: visible;
}
/* nav{
    /* text-decoration: none; */
    /* max-width: 960px; */
    /* margin:0 auto;
    padding: 10px 0;
    margin-right: 25%;
}
nav > ul{
    text-align: left;

}
nav >ul >li{
    display: inline-block;
}
nav ul li a{
    padding:17px;
    margin-right:0;
    text-transform: uppercase;
    text-decoration: none;
    display:block;
    color: white;
    font-size:30px;
}
nav >ul > li > a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: rgb(255,255,255);
    text-decoration: none;
    color:orange;
} */ 

ul{
    list-style-type: none;
margin:0px;
padding: 0%;
overflow: hidden;
/* background-color: orangered; */
}
li{
    float:left;
}
li a{
    display:block;
    color:orange;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
  
 li a:hover:not(.active){
     background-color: aquamarine;
     text-decoration: none;
 }
 .active{
     background-color: red;
     text-decoration: none;
 }
 .about{
     margin-left: 5%;
     margin-right:5%;
 }
 h2{
     text-align: center;
     
 }
 
 .container{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1564657853/photo-3_ec2ylv.jpg');
    height:600px;
    width:70%; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
    
     
}
label{
    /* margin-left:60%; */
    color:white;
}
.form-control , .btn{
    /* margin-left: 70%; */
    color:white;
    /* text-align: center; */
}
.walrus-showing{
    display: none;
}
footer{
    height:200px;
    background-color: gray;
}
/* #show-your-order{
    display: none;
} */